<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_ManualInvoiceNumber>
            <version>1.0.0</version>
        </Magestore_ManualInvoiceNumber>
    </modules>
	<admin>
		<routers>
            <manualinvoicenumber>
                <use>admin</use>
                <args>
                    <module>Magestore_ManualInvoiceNumber</module>
                    <frontName>manualinvoicenumber</frontName>
                </args>
            </manualinvoicenumber>
        </routers>
	</admin>
    <global>
		<routers>
			<adminhtml>
				<rewrite>
					<sales_order_invoice>
						<actions>
							<save><to>manualinvoicenumber/adminhtml_invoice/save</to></save>
						</actions>
					</sales_order_invoice>
				</rewrite>
			</adminhtml>
		</routers>
        <models>
			<manualinvoicenumber>
				<class>Magestore_ManualInvoiceNumber_Model</class>
			</manualinvoicenumber>
        </models>
        <resources>
			<manualinvoicenumber_setup>
				<setup>
					<module>Magestore_ManualInvoiceNumber</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</manualinvoicenumber_setup>
			<manualinvoicenumber_write>
				<connection>
					<use>core_write</use>
				</connection>
			</manualinvoicenumber_write>
			<manualinvoicenumber_read>
				<connection>
					<use>core_read</use>
				</connection>
			</manualinvoicenumber_read>
        </resources>
        <blocks>
			<manualinvoicenumber>
				<class>Magestore_ManualInvoiceNumber_Block</class>
			</manualinvoicenumber>
			<adminhtml>
				<rewrite>
					<sales_order_invoice_create_items>Magestore_ManualInvoiceNumber_Block_Adminhtml_Items</sales_order_invoice_create_items>
				</rewrite>
				<rewrite>
					<sales_order_invoice_create_form>Magestore_ManualInvoiceNumber_Block_Adminhtml_Form</sales_order_invoice_create_form>
				</rewrite>
				<rewrite>
					<sales_invoice_grid>Magestore_ManualInvoiceNumber_Block_Adminhtml_Grid</sales_invoice_grid>
				</rewrite>
			</adminhtml>
        </blocks>				
        <helpers>
            <manualinvoicenumber>
                <class>Magestore_ManualInvoiceNumber_Helper</class>
            </manualinvoicenumber>
        </helpers>				
    </global>
</config>