<?xml version="1.0"?>
<config>
  <modules>
    <Vs_Foodcoupon>
      <version>0.1.0</version>
    </Vs_Foodcoupon>
  </modules>
  <global>
    <helpers>
      <foodcoupon>
        <class>Vs_Foodcoupon_Helper</class>
      </foodcoupon>
    </helpers>
    <models>
	  <foodcoupon>
		<class>Vs_Foodcoupon_Model</class>
		<resourceModel>foodcoupon_mysql4</resourceModel>
	  </foodcoupon>
	  <foodcoupon_mysql4>
		<class>Vs_Foodcoupon_Model_Mysql4</class>
		<entities>		  
			  <foodcoupon>
 				<table>foodcoupon_log</table>
			  </foodcoupon>
		</entities>
	  </foodcoupon_mysql4>
	</models>
	<resources>
	  <foodcoupon_setup>
		<setup>
		  <module>Vs_Foodcoupon</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </foodcoupon_setup>
	  <foodcoupon_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </foodcoupon_write>
	  <foodcoupon_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </foodcoupon_read>
	</resources>
  </global>
  <frontend>
  	<layout>
	  <updates>
		<vs_foodcoupon>
		  <file>foodcoupon.xml</file>
		</vs_foodcoupon>
	  </updates>
	</layout>
  </frontend>
      <adminhtml>
       <layout>
         <updates>
           <vs_foodcoupon>
                <file>vs/foodcoupon.xml</file>
           </vs_foodcoupon>  
         </updates>
       </layout>
    </adminhtml>
</config> 