<?xml version="1.0"?>
<config>
	<modules>
		<M0_Newslettersend>
			<version>1.0</version>
		</M0_Newslettersend>	
	</modules>	
    <admin>
        <routers>
			<newslettersend>
				<use>admin</use>
				<args>
					<module>M0_Newslettersend</module>
					<frontName>newslettersend</frontName>
				</args>
			</newslettersend>
        </routers>
    </admin>
    <frontend>
        <routers>
            <sendnewsletter>
                <use>standard</use>
                <args>
                    <module>M0_Newslettersend</module>
                    <frontName>newslettersend</frontName>
                </args>
            </sendnewsletter>
        </routers>
    </frontend>    
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<M0_Newslettersend>
							<title>newslettersend</title>
							<sort_order>10</sort_order>
						</M0_Newslettersend>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>    	
	<global>
        <resources>
            <newslettersend_setup>
                <setup>
                    <module>M0_Newslettersend</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newslettersend_setup>
            <newslettersend_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newslettersend_write>
            <newslettersend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newslettersend_read>
        </resources>	
	   <blocks>
	   		<adminhtml>
				<rewrite>
		        	<newsletter_queue>M0_Newslettersend_Block_Adminhtml_Newsletter_Queue</newsletter_queue>
		        </rewrite>
		    </adminhtml>
			<newslettersend_adminhtml>
				<class>M0_Newslettersend_Block_Adminhtml</class>
			</newslettersend_adminhtml>
	    </blocks>	
	</global>
</config>