<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Shoppinglist>
      <version>0.1.2</version>
    </Magebuzz_Shoppinglist>
  </modules>
  <frontend>
    <routers>
      <shoppinglist>
        <use>standard</use>
        <args>
          <module>Magebuzz_Shoppinglist</module>
          <frontName>quicklist</frontName>
        </args>
      </shoppinglist>
    </routers>
    <layout>
      <updates>
        <shoppinglist>
          <file>shoppinglist.xml</file>
        </shoppinglist>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Shoppinglist>
          <files>
            <default>Magebuzz_Shoppinglist.csv</default>
          </files>
        </Magebuzz_Shoppinglist>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <shoppinglist>
        <use>admin</use>
        <args>
          <module>Magebuzz_Shoppinglist</module>
          <frontName>shoppinglist</frontName>
        </args>
      </shoppinglist>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <shoppinglist>
          <file>shoppinglist.xml</file>
        </shoppinglist>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Shoppinglist>
          <files>
            <default>Magebuzz_Shoppinglist.csv</default>
          </files>
        </Magebuzz_Shoppinglist>
      </modules>
    </translate>
  </adminhtml>   
  <global>
    <models>
      <shoppinglist>
        <class>Magebuzz_Shoppinglist_Model</class>
        <resourceModel>shoppinglist_mysql4</resourceModel>
      </shoppinglist>
      <shoppinglist_mysql4>
        <class>Magebuzz_Shoppinglist_Model_Mysql4</class>
        <entities>
          <customer>
            <table>shoppinglist_customer</table>
          </customer>
          <group>
            <table>shoppinglist_group</table>
          </group>
          <items>
            <table>shoppinglist_item</table>
          </items>
          <reminder>
            <table>shoppinglist_reminder</table>
          </reminder>
        </entities>
      </shoppinglist_mysql4>
    </models>
    <resources>
      <shoppinglist_setup>
        <setup>
          <module>Magebuzz_Shoppinglist</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </shoppinglist_setup>
      <shoppinglist_write>
        <connection>
          <use>core_write</use>
        </connection>
      </shoppinglist_write>
      <shoppinglist_read>
        <connection>
          <use>core_read</use>
        </connection>
      </shoppinglist_read>
    </resources>
    <blocks>
      <shoppinglist>
        <class>Magebuzz_Shoppinglist_Block</class>
      </shoppinglist>
    </blocks>
    <helpers>
      <shoppinglist>
        <class>Magebuzz_Shoppinglist_Helper</class>
      </shoppinglist>
    </helpers>
    <events>
      <controller_action_predispatch_customer_account_login>
        <observers>
          <redirect_to_login_page>
            <type>singleton</type>
            <class>shoppinglist/observer</class>
            <method>controller_action_predispatch_customer_account_login</method>
          </redirect_to_login_page>
        </observers>
      </controller_action_predispatch_customer_account_login>
      <core_block_abstract_to_html_before>
        <observers>
          <magebuzz_shoppinglist_observer>
            <type>singleton</type>
            <class>Magebuzz_Shoppinglist_Model_Observer</class>
            <method>addTabShoppinglistToCustomer</method>
          </magebuzz_shoppinglist_observer>
        </observers>
      </core_block_abstract_to_html_before>
    </events>
    <template>
      <email>
        <shoppinglist_email_setting_email_template>
          <label>Shopping List Email Notification</label>
          <file>shoppinglist_email_notification.html</file>
          <type>html</type>
        </shoppinglist_email_setting_email_template>
      </email>
    </template>			
  </global>
  <default>
    <shoppinglist>
      <general>
        <active>1</active>				
      </general>
      <display>
        <show_save_for_later>1</show_save_for_later>
        <save_later_prefix_name>save-cart</save_later_prefix_name>
      </display>
      <email_setting>
        <send_reminder>1</send_reminder>
        <email_notification>daily,weekly,biweekly,monthly</email_notification>
        <reminder_day>sunday</reminder_day>
        <email_sender>general</email_sender>
        <email_template>shoppinglist_email_setting_email_template</email_template>
        <mailing_address>hello@example.com</mailing_address>
      </email_setting>
    </shoppinglist>
  </default>	
  <crontab>
    <jobs>
      <magebuzz_shoppinglist>
        <schedule>
          <cron_expr>0 7 * * *</cron_expr>
        </schedule>
        <run>
          <model>shoppinglist/observer::sendReminder</model>
        </run>
      </magebuzz_shoppinglist>
    </jobs>
  </crontab>
</config>